textarea#iwz_banner_wp_head_code,
textarea#iwz_banner_wp_footer_code,
textarea#iwz_banner_the_content_code,
textarea#iwz_banner_get_sidebar_code,
textarea#iwz_banner_wp_nav_menu_items_code {
    font-family: monospace;
    min-height: 150px;
}

.iwz-banner-container-location-section {
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.hidden {
    display: none;
}

.iwz-banner-container-notice {
    padding: 15px;
    background-color: #e7f7ff;
    border-left: 4px solid #2271b1;
    margin-bottom: 20px;
}

.iwz-banner-container-notice h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

.iwz-banner-container-notice p:last-child {
    margin-bottom: 0;
}

.iwz-banner-container-settings .acf-field-select[data-name="iwz_banner_content_position"] {
    clear: both;
}
